ZKUAT_NETWORK=preview
ZKUAT_SPONSOR_WALLET_SEED=<32-to-128-hex-characters>
ZKUAT_CONTRACT_ADDRESS=<deployed-contract-address>
ZKUAT_RUNTIME_URL=http://127.0.0.1:4317
ZKUAT_ALLOWED_ORIGIN=https://zkuat.works
ZKUAT_PROOF_SERVER_URL=http://127.0.0.1:6300
ZKUAT_PROOF_SERVER_IMAGE=midnightntwrk/proof-server:8.1.0
